@font-face {
    font-family: 'Rand-Bold';
    src: url('Rand-Bold.ttf');
}

@font-face {
    font-family: 'Rand-Medium';
    src: url('Rand-Medium.ttf');
}

H1 {
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
    color: black;
    font-family: "Rand-Bold";
    font-size: 2.5rem;
}

H2 {
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
    color: white;
    font-family: "Rand-Bold";
    font-size: 1.8rem;
}

H5 {
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
    color: black;
    font-family: "Rand-Medium";
    font-size: 1rem;
}

Span {
    margin: 0%;
    overflow-x: hidden;
    text-align: center;
    color: black;
    font-family: "Rand-Medium";
    font-size: 1rem;
}


Div {
    margin: 0%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    color: white;
    font-family: "Rand-Medium";
    font-size: 1rem;
}

body {
    margin: 0%;
}

Button {
    margin: 0;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 2px solid white;
    padding: 1.2%;
}




